<h1>Your Coach answer</h1>
<p>Answer Interface</p>
<div class="card">
<p><strong>The Coach said : </strong><%= @answer %></p>
</div>
<br>
<br>
<div class="link">
<%= link_to "Do you want to ask some again?", ask_path %>
</div>
