<h1>Ask a question to your Coach</h1>
<p>Welcome to the question interface</p>

<div class="container">
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Type in ....">
  <input type="submit" value="Ask!" id="button-ask">
</form>
</div>

<div class="footer">
      <h2 id="footer">Follow Your coach</h2>
      <ul class="list-inline">
        <li>
          <a href="#" target="_blank" class="icon-grey">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="icon-grey">
            <i class="fab fa-linkedin">
            </i>
          </a>
        </li>
